[tool.poetry]
name = "karmabot"
version = "1.0"
description = "A bot for Slack"
authors = ["PyBites <info@pybit.es>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/PyBites-Open-Source/karmabot"
repository = "https://github.com/PyBites-Open-Source/karmabot"
keywords = ["karmabot"]

[tool.poetry.dependencies]
python = "3.7.8"
humanize = "^2.4.0"
pyjokes = "^0.6.0"
SQLAlchemy = "^1.3.17"
python-dotenv = "^0.13.0"
slackclient = "1.3.1"
feedparser = "5.2.1"
importlib-metadata = "^1.6.1"
psycopg2 = "^2.8.5"

[tool.poetry.dev-dependencies]
pytest = "5.4.2"
coverage = {extras = ["toml"], version = "^5.1"}
pytest-cov = "^2.10.0"
pytest-mock = "^3.1.1"
mutpy = "^0.6.1"
flake8 = "^3.8.3"
black = "^19.10b0"
mypy = "^0.780"
flake8-isort = "^3.0.0"
flake8-bandit = "^2.1.2"
flake8-black = "^0.2.0"
flake8-bugbear = "^20.1.4"
safety = "^1.9.0"
isort = {version = "^4.3.21", extras = ["pyproject"]}
codecov = "^2.1.7"

[tool.poetry.scripts]
karmabot = "karmabot.main:main"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["karmabot"]

[tool.coverage.report]
show_missing = true

[tool.black]
line-length = 88
target-version = ['py37']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.nox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )
)
'''

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 88
known_third_party = "dotenv,feedparser,humanize,pyjokes,pytest,requests,slackclient,sqlalchemy"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
